@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1f242d;
    color: #fff;
    line-height: 1.6;
    /* max-width: 1200px; */
    margin: 0 ;
    padding: 0px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #fff;
}

/* Navbar */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1f242d;
    box-shadow: #4b566b 0 0 10px;

}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
}



.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
    position: relative; 
}

.navbar ul li a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #7cf03d;
    transition: 0.2s linear;
}

.navbar ul li a:hover::before {
    width: 100%;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: #7cf03d;
}
.menu-icon{
    display: none;
}

.menu-icon i{
    color: #fff;
    font-size: 30px;
}

footer {
    background-color: #4b566b;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

footer .text {
    color: #fff;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

footer .text a {
    color: #76FF03;
    text-decoration: none;
    font-weight: bold;
}

footer .text a:hover {
    color: #76FF03;
    text-decoration: underline;
}
/* Homepage and About */
.home, .about {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}

.home-info h1, .about h1 {
    font-size: 55px;
}

.home-info h2, .about-content h1 {
    font-size: 32px;
    margin-top: -10px;
}

.home-info p, .about-content p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn, .contact-me { 
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
}

.btn:hover { 
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.sci a { 
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
}

.sci a:hover { 
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

/* About Section */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}

.heading h1 {
    margin-top: 110px;
    color: #7cf03d;
    font-size: 34px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 9%;
    position: relative;
    
}

.about-image img {
    max-width: 300px;
    height: auto;
    display: block;
    padding-top: 20px;
    margin-left: -100px;
}

.about-image img:hover {
    transform: scale(1.1);
}

.contact-me {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;
    margin-top: 1%;
}

.contact-me:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    gap: 50px;
    width: 100%;
    padding: 0;
    
}

.about-content, .about-image {
    margin: 0;
    padding: 0;
}



.timeline {
    margin-top: 60px;
}

.experience {
    position: relative;
    padding-left: 30px;
    margin-bottom: 30px;
}

.experience::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #7cf03d;
}

.experience::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 15px;
    width: 2px;
    height: calc(100% + 15px);
    background-color: #7cf03d;
}

.experience:last-child::after {
    display: none;
}

aside {
    flex: 1;
    background-color: #2d333b;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: -160px;
    width: 300px;
    
}

aside:hover {
    box-shadow: 0 0 10px rgba(124, 240, 61, 0.2);
    background: transparent;
}

.aside-widget{
    margin-top: 10px;
    width: 300px;
}

.aside-widget h3 {
    color: #7cf03d;
    border-bottom: 2px solid #7cf03d;
    width: 200px;
    margin-top: 5px;
}

.aside-widget ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}


/* Contact Page */
.contact {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10%;
    color: #fff;
    background-color: #1f242d;
    flex: 1;
}
.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.contact .content {
    text-align: center;
    margin-bottom: 30px;
}

.contact .content h2 {
    font-size: 34px;
    color: #7cf03d;
    margin-bottom: 15px;
}

.contact .content p {
    font-size: 15px;
    line-height: 1.6;
}

.c_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
}

.contactinfo, .contactform {
    flex: 1;
    min-width: 280px;
}

.contactinfo .box {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.contactinfo .box .icon {
    font-size: 28px;
    color: #7cf03d;
    margin-right: 15px;
}

.contactinfo .box .icon:hover {
    text-shadow: rgba(124, 240, 61, 0.5) 0 0 10px;
}   


.contactinfo .box h3 {
    font-size: 18px;
    color: #7cf03d;
    margin-bottom: 5px;
}

.contactinfo .box .text p {
    font-size: 14px;
}

.contactform h2 {
    color: #7cf03d;
    font-size: 26px;
    margin-bottom: 20px;
}

.contactform .inputbox {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}



.contactform .inputbox input,
.contactform .inputbox textarea {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    color: #fff;
    background: #2d333b;
    border: none;
    outline: none;
    resize: none;
}

.contactform .inputbox input[type="submit"] {
    background: #7cf03d;
    color: #1f242d;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 10px 0;
    transition: 0.3s;
}

.contactform .inputbox input[type="submit"]:hover {
    background: transparent;
    color: #7cf03d;
    border: 2px solid #7cf03d;
    box-shadow: 0 0 20px #7cf03d;
}


/* Blog Page */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-content {
    
    margin-right: 2rem;
    margin-top: 100px;
} 

article {
    background-color: #2d333b;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 2rem;
   
}

article:hover {
    box-shadow: 0 0 10px rgba(124, 240, 61, 0.2);
    background: transparent;
}

article img{
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;

}

article h2 {
    color: #fff;
}



.date {
    color: rgba(124, 240, 61, 0.5);
    font-size: 0.9rem;
}

.read-more {
    display: inline-block;
    background-color: #7cf03d;
    color: #1f242d;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    border-radius: 5px;
    margin-top: 1rem;
}

.read-more:hover {
    background-color: transparent;
    color: #7cf03d;
    border: 1px solid #7cf03d;
    box-shadow: 0 0 10px #7cf03d;
}


.widget{
    flex: 1;
    background-color: #2d333b;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 10px;
    width: 300px;
}

.widget h3 {
    color: #7cf03d;
    border-bottom: 2px solid #7cf03d;
    width: 200px;
    padding-bottom: 0.5rem;
}

.widget ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.widget li {
    margin-bottom: 0.5rem;
    color: #fff;
}

.widget li a:hover {
    text-decoration: underline;
    text-decoration-color: #7cf03d;
}

.widget li:hover {
    color: #7cf03d;
}


@media (max-width: 821px){
    .about{
        flex-direction: column;
    }
    .container .about-image img{
        margin-left: 0;
        max-width: 100%;
        padding-top: 10px;
    }
    
    .home {
        display: flex;
        align-items: center;
        height: 100vh;
        padding: 60px 9% 0;
        color: #fff;
    }

    footer {
        padding: 20px;
        text-align: center;
    }
    .contact {
        flex-direction: column;
    }

    .contact{
        padding: 50px;

    }
    .c_container{
        flex-direction: column;
    }
    .c_container .contactinfo{
        margin-bottom: 40px;
    }
    .c_container .contactinfo{
        width: 100%;
    }

    .contact .content h2{
        margin-top: 50px;
    }
    .navbar ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #1f242d;
        gap: 0;
        overflow: hidden;
    }
    .navbar ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }
}
    



@media (max-width: 768px) {
    .navbar {
        padding: 25px 5%;
    }

    .navbar ul li {
        margin-left: 20px;
    }
    .navbar ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #1f242d;
        gap: 0;
        overflow: hidden;
    }
    .navbar ul li{
        padding: 20px;
        padding-top: 0;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        transition: all 0.5s;
    }


    footer{
        margin-top: auto;
    }

    .home-info h1 {
        font-size: 40px;
    }

    .home-info h2 {
        font-size: 24px;
    }

    .home-info p {
        font-size: 14px;
    }

    .home-info .btn-sci {
        display: block;
        align-items: center;
    }
    .sci a { 
        margin-top: 30px;
    }
    
    
    .about h1 {
        font-size: 40px;
    }

    .about-content h1 {
        font-size: 24px;
    }

    .about-content p {
        font-size: 14px;
    }

    .btn, .contact-me {
        padding: 8px 20px;
        font-size: 14px;
    }

    .sci a {
        padding: 6px;
        font-size: 16px;
    }
      
}


